{%  extends 'fni_page/main.html' %}

{% block content %}
<!DOCTYPE html>

    <body >
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About FNI project</h2>
                        <p class="lead ">Inflation has been a global lately, though it is part of the economical cycle. The drastic increase in Consumer Price Index (CPI) has caused economical stress to the global citizens. This project aims to look into overall market sentiment by scrapping tweets from Twitter, and also the trend and topics of interest by looking into Google Trend. Lastly, these data are also compared to CPI data, to have a better understanding of how people react to inflation and their interest or curiousity surrounding the topic of inflation.  </p>
                        <p>This is a study project done by Jiong Jiet and Iqram. </p>
                        <p>NLP python tools and Django web framework are the main stacks of this project.</p>

                    </div>
                </div>
            </div>
        </section>

       
    </body>

{% endblock %}