
{%  extends 'fni_page/main.html' %}
{% load static %}
{% block content %}



<div class="container px-4">
    <h1>Inflation in depth analysis.</h1>
    <p>Inflation is a general increase in the level of prices in economy.
        This can be caused by several factors. Reduced in supply of goods and services or increase in demand can also lead to inflation. Recently, due to global events (pandemic, geo-political issues, climate crises adn increasing global tension), governments across the world has taken different approaches and their policies in managing the money supply, both by direct government action and the lending of private organizations and individuals, can impact the market and lead to inflation. For instance, the continuous money printing can lead to increase of money circulation in the market, over-printing is a concerning issue as it would lead to hyperinflation, the more you print the less value it holds. </p>
        
        <img class = "rounded mx-auto d-block pt-4" src="{% static 'images/inflation.png' %}" alt="some text">
        
        <p class="pt-3">Though it sounds concerning but inflation is just part of the economical cycle, the real concern here is hyperinflation. Let's look into Consumer Price Index data below and let the stats speak for itself. </p>
        <img class = "col-12" src="{% static 'images/inflation_data.png' %}" alt="some text">
        source: imf.org

        <img class = "col-8  d-block mx-auto"  src="{% static 'images/average_inflation-2021.png' %}" alt="some text">


        <p>Indeed, inflation has been increasing across the year 2021, hyperinflation is a serious issue and could affect global citizens. Next, we look into how general sentiment on Twitter reflect on this actual data.</p>
        

    <img class = " col-8 rounded mx-auto d-block" src="{% static 'images/average_sentiment-2021.png' %}" alt="some text">

    <p>From the sentiment analysis of the total of over 500 tweets in the same year of 2021, we can also see the decline of sentiment throughout the year. Though the chart does not have the same exact pattern as the CPI data, but it shows a trend of negative segment near the end of 2021. This could potentially show that people are suffering eocnomically and expressing their negativity.</p>
    
    <h3>Topic modelling</h3>
    <p>
    Based on the data collected, we have built topic model using LDA. This helps us understand better the discussion and centrral topics surrounding inflation. </p>

    <img class = " col-8 rounded mx-auto d-block" src="{% static 'images/topic-modelling.png' %}" alt="some text">
        <p class="pt-3">The first topic (represents by the big circle with 1), we will name this topic as Politic. The politic topic contains keywords like Biden, control, house, border, job, policy, problem and issue. Which could potentially indicate netizen's dissastisfaction and attributing the cause of inflation to mismanage of government. </p>

        <p>
        The second topic aka the Economic topic, contains keyword such as economic, invest, saving, cash, future and currency. This topic is more technical and discuss more about the solution or ways to mitigate/cope rather than finding out the reasons and finger pointing. </p>

        <p>
        The third topic is the Global topic. This topic have the following keywords: vietnam, pandemic, dollar, debt, world, history, rate, bill, change. This is relevant to the global issues such as Covid/ pandemic which has a global economical impact. </p>

        <p>In conclusion, we can sum up the section of topic modelling with three major topics: Global, economical and political.Though, the model is not the best as political keywords are common among almost all the topics. For future improvment, the model can be trained with different number of topics, tuning the parameters and adjusting the saliency/ reliancy can also improve the model and give better segregation of topics.</p>
</div>




{% endblock %}