
{%  extends 'fni_page/main.html' %}
{% load static %}
{% block content %}



<div class="container px-4">
    <h1>Inflation Google Trend</h1>
    
    <div class="col-lg-8"></div>
    <a class="btn btn-primary" href="{% url 'fni_page:insert_trend_data'%}">Refresh data</a>
    <div class="card card-body pt-6">
        <table class="taable pt-6">
            <tr>    
                <th>Trend</th>
                <th>Value </th>
            </tr>
            <tr>
                <td colspan="3"><hr/></td>
            </tr>
            {% for i in trend_list %}
                <tr>
                    <td>{{i.query_res}}</td>
                    <td>{{i.value}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <p class="pt-3">*Click on refresh button above to get past 30 days (from today) relevant search terms about inflation. </p>
    <p>Data above is based on Google trend, this will query Google api that shows what people are searching about reagarding inflation. We will be able to understand more about what people are thinking about inflation.</p>
    <img height="400" height="400" class = " pt-4 rounded mx-auto d-block"  src="{% static 'images/inflation-meme.jpeg' %}" alt="some text">
</div>




{% endblock %}